body{
    background-color: #222;
    margin:0;
    display: grid;
    place-items: center;
    min-height: 100vh;
}

.heading{
    color: #fff;
}


.typing-effect{
    color: red;
    position: relative;
}

.typing-effect::after{
    content: "";
    position: absolute;
    right: -.5rem;
    top: 0;
    width: 2px;
    height: 100%;
    background-color: red;
    animation: blink .3s infinite;
}


@keyframes blink{

    0%,100%{
        opacity: 0;
    }

    50%{
        opacity: 1;
    }
}